@model Hotel_Management.Models.ImageMasterTB

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
        var photopath = "/images/hotels/" + (Model.Image_URl);
}

<h1>Details</h1>

<div>
    <h4>ImageMasterTB</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            <img src="@photopath" class="card-img" height="100px" width="100px" />
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image_URl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reference_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reference_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceTB_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReferenceTB_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active_Flag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active_Flag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Delete_Flag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Delete_Flag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Image_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
