@model Hotel_Management.Models.HotelTB

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HotelTB</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel_map_coordinate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel_map_coordinate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact_No)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact_No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email_Adderss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email_Adderss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contect_Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contect_Person)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Standard_check_In_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Standard_check_In_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Standard_check_out_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Standard_check_out_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active_Flag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active_Flag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delete_Flag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delete_Flag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Hotel_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
