@model IEnumerable<Hotel_Management.Models.HotelTB>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hotel_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel_Images)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel_map_coordinate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email_Adderss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contect_Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Standard_check_In_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Standard_check_out_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active_Flag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delete_Flag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel_Images)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel_map_coordinate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email_Adderss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contect_Person)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Standard_check_In_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Standard_check_out_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active_Flag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delete_Flag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Hotel_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Hotel_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Hotel_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
